django-activity-stream
click==6.7
coreapi==2.3.3
coreschema==0.0.4
croniter==0.3.19
data-importer==3.0.2
Django==1.11.6
django-audit-log==0.7.0
django-tastypie==0.14.0
et-xmlfile==1.0.1
Flask==0.12.2
itsdangerous==0.24
itypes==1.1.0
jdcal==1.3
Jinja2==2.9.6
MarkupSafe==1.0
MyApplication==0.1.0
openpyxl==2.4.0
psycopg2==2.7.3.1
python-dateutil==2.6.1
python-mimeparse==1.6.0
pytz==2016.7
requests==2.9.1
six==1.10.0
uritemplate==3.0.0
Werkzeug==0.12.2
xlrd==1.0.0
xlwt==1.3.0
