{% extends 'layout.html' %}

{% load staticfiles %}

{% block breadcrumb %}
    <li><strong>{{ student.first_name }} {{ student.last_name }}</strong></li>
    <li>{{ student.school }}</li>
    <li>{{ student.school_class }}</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="well well-sm">
                <div class="no-margin no-padding">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="myCarousel" class="carousel fade profile-carousel">
                                <div class="air air-top-left padding-10">
                                    <h4 class="txt-color-white font-md">{{ student.school_class }}</h4>
                                </div>
                                <div class="carousel-inner">
                                    <!-- Slide 1 -->
                                    <div class="item active">
                                        <img src="{% static 'img/demo/s1.jpg' %}" alt="demo user">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">

                            <div class="row">

                                <div class="col-sm-3 profile-pic">
                                    <img src="{% static student.photo.url %}" alt="{{ student.last_name }}">
                                </div>
                                <div class="col-sm-6">
                                    <h1>{{ student.first_name }} <span
                                            class="semi-bold">{{ student.last_name }}</span>
                                        <br>
                                        <small> {{ student.school_class }} </small>
                                    </h1>
                                    <br/><br/>
                                    <a href="{% url 'student_results' student.id %}" class="btn btn-danger btn-md">
                                        View Academic Results
                                    </a>

                                    <br/><br/>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-6">

            <div class="well well-sm">
                <span style="font-size: x-large">Next of Kin</span>
                <hr/>
                {% for nok in student.studentnok_set.all %}
                    <div class="row">
                        <div class="col-xs-2">
                            <img src="{% static nok.profile.photo.url %}" class="img-responsive">
                        </div>
                        <div class="col-xs-10">
                                    <span style="font-size: larger">
                                        <a href="{% url 'user_profile' nok.profile.id %}">
                                            {{ nok.profile.user.first_name }} {{ nok.profile.user.last_name }}
                                            {% if nok.profile.id == request.user.profile.id %}
                                                &nbsp;(you)
                                            {% endif %}
                                        </a>
                                    </span><br/>
                            <span>
                                        {{ nok.profile.user.email }}
                                    </span><br/>
                            <span>
                                        <em>{{ nok.profile.telephone }}</em>
                                    </span>

                        </div>
                    </div>

                    <hr/>
                {% endfor %}
            </div>

        </div>

    </div>
{% endblock %}