{% extends 'layout.html' %}

{% load staticfiles %}

{% block breadcrumb %}
    <li>{{ user.first_name }} {{ user.last_name }}</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="well well-light well-sm no-margin no-padding">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="myCarousel" class="carousel fade profile-carousel">
                                        {% if request.user.id != user.id %}
                                            <div class="air air-bottom-right padding-10">
                                                <a href="javascript:void(0);"
                                                   class="btn txt-color-white bg-color-teal btn-sm"><i
                                                        class="fa fa-check"></i> Follow</a>
                                            </div>
                                        {% endif %}
                                        <div class="air air-top-left padding-10">
                                            <h4 class="txt-color-white font-md">{{ user.profile.type }}</h4>
                                        </div>
                                        <div class="carousel-inner">
                                            <!-- Slide 1 -->
                                            <div class="item active">
                                                <img src="{% static 'img/demo/s1.jpg' %}" alt="demo user">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">

                                    <div class="row">

                                        <div class="col-sm-3 profile-pic">
                                            <img src="{% static user.photo.url %}" alt="{{ user.last_name }}">
                                        </div>
                                        <div class="col-sm-6">
                                            <h1>{{ user.first_name }} <span
                                                    class="semi-bold">{{ user.last_name }}</span>
                                                <br>
                                                <small> {{ user.occupation }} </small>
                                            </h1>

                                            <ul class="list-unstyled">
                                                <li>
                                                    <p class="text-muted">
                                                        <i class="fa fa-phone"></i>&nbsp;&nbsp;
                                                        <span>{{ user.telephone }}</span>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="text-muted">
                                                        <i class="fa fa-envelope"></i>&nbsp;&nbsp;<a
                                                            href="mailto:{{ user.email }}">{{ user.email }}</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="text-muted">
                                                        <i class="fa fa-linkedin-square"></i>&nbsp;&nbsp;<span
                                                            class="txt-color-darken">{{ user.linkedin_profile }}</span>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="text-muted">
                                                        <i class="fa fa-facebook-square"></i>&nbsp;&nbsp;<span
                                                            class="txt-color-darken">{{ user.facebook_profile }}</span>
                                                    </p>
                                                </li>
                                            </ul>
                                            <br>

                                            {% if request.user.id != user.id %}
                                                <a class="btn btn-default btn-md"><i
                                                        class="fa fa-envelope-o"></i> Send Message</a>
                                            {% endif %}

                                            <ol>
                                                {% for school in schools %}
                                                    <li>{{ school.school.school_name }}</li>
                                                {% endfor %}
                                            </ol>


                                            {% if request.user.id == user.id %}
                                                <a data-toggle="modal" data-target="#add_school"
                                                   class="btn btn-primary btn-md"><i
                                                        class="fa fa-link"></i> Add schools to your profile</a>
                                            {% endif %}

                                            <br>
                                            <br>
                                            <p class="font-md">
                                                <i>A little about me...</i>
                                            </p>
                                            <p>
                                                {{ user.profile.bio | linebreaksbr }}
                                            </p>
                                            <br>

                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">

                        {% if children %}
                            <span style="font-size: x-large">My Children</span>
                            <hr/>
                            {% for child in children %}
                                <div class="row">
                                    <div class="col-xs-2">
                                        <img src="{% static 'uploads/avatar_default.jpg' %}" class="img-responsive">
                                    </div>
                                    <div class="col-xs-10">
                                        <span style="font-size: larger">
                                            <a href="{% url 'student_details' child.student.id %}">
                                                {{ child.student.first_name }} {{ child.student.last_name }}
                                            </a>
                                        </span><br/>
                                        <span>{{ child.student.school }}</span><br/>
                                        <span>
                                            <strong>
                                                {{ child.student.school_class }} {{ child.student.stream }}
                                            </strong>
                                        </span>

                                    </div>
                                </div>

                                <hr/>
                            {% endfor %}
                        {% endif %}

                        {% if request.user.id == user.id %}
                            <div class="bg-color-white">
                                <form method="post" action="{% url 'add_child' %}" class="smart-form">
                                    {% csrf_token %}

                                    <header>
                                        Add a child
                                    </header>

                                    <fieldset>
                                        <section>
                                            <label class="input"> <i class="icon-append fa fa-user"></i>
                                                <input type="text" required name="child_code" id="child_code"
                                                       placeholder="Child Code">
                                            </label>
                                        </section>

                                        <section>
                                            <label class="input"> <i class="icon-append fa fa-envelope-o"></i>
                                                <input type="text" required name="school_code" id="school_code"
                                                       placeholder="School Code">
                                            </label>
                                        </section>

                                        {% if messages %}
                                            {% for message in messages %}
                                                <section>
                                                    <div class="alert alert-danger">{{ message }}</div>
                                                </section>
                                            {% endfor %}
                                        {% endif %}

                                    </fieldset>
                                    <footer>
                                        <button type="submit" class="btn btn-primary">
                                            Add Child
                                        </button>
                                    </footer>
                                </form>
                            </div>
                        {% endif %}

                    </div>
                </div>

            </div>


        </div>

    </div>
{% endblock %}