{% extends 'user/layout.html' %}

{% load staticfiles %}

{% block top_right %}
    <span id="extr-page-header-space">
        <span class="hidden-mobile hiddex-xs">Already registered?</span>
        <a href="{% url 'auth-login' %}" class="btn btn-danger">Sign In</a>
    </span>
{% endblock %}

{% block content %}

    <form method="post" action="{% url 'signup' %}" id="smart-form-register" class="smart-form client-form">
        {% csrf_token %}

        <header>
            Registration is FREE*<br/>
            <small>All fields are required</small>
        </header>

        <fieldset>

            <section>
                <label class="input"> <i class="icon-append fa fa-envelope"></i>
                    <input type="email" name="email" autocomplete="false" placeholder="Email address">
                    <b class="tooltip tooltip-bottom-right">Needed to verify your account</b> </label>
            </section>

            <section>
                <label class="input"> <i class="icon-append fa fa-lock"></i>
                    <input type="password" name="password" placeholder="Password" id="password">
                    <b class="tooltip tooltip-bottom-right">Don't forget your password</b> </label>
            </section>

            <section>
                <label class="input"> <i class="icon-append fa fa-lock"></i>
                    <input type="password" name="confirm_password" placeholder="Confirm password">
                    <b class="tooltip tooltip-bottom-right">Don't forget your password</b> </label>
            </section>
        </fieldset>

        <fieldset>
            <div class="row">
                <section class="col col-6">
                    <label class="input">
                        <input type="text" name="first_name" placeholder="First name">
                    </label>
                </section>
                <section class="col col-6">
                    <label class="input">
                        <input type="text" name="last_name" placeholder="Last name">
                    </label>
                </section>
            </div>

            <div class="row">
                <section class="col col-6">
                    <label class="input"><i class="icon-append fa fa-user-secret"></i>
                        <input type="text" name="child_code" placeholder="Child Code">
                        <b class="tooltip tooltip-bottom-right">You should have received this from the school</b>
                    </label>
                </section>
                <section class="col col-6">
                    <label class="input"><i class="icon-append fa fa-user-secret"></i>
                        <input type="text" name="school_code" placeholder="School Code">
                        <b class="tooltip tooltip-bottom-right">You should have received this from the school</b>
                    </label>
                </section>
            </div>

            <section>
                <label class="checkbox">
                    <input type="checkbox" name="subscription" id="subscription">
                    <i></i>I want to receive news and special offers</label>
                <label class="checkbox">
                    <input type="checkbox" name="terms" id="terms">
                    <i></i>I agree with the <a href="#" data-toggle="modal" data-target="#myModal"> Terms and
                    Conditions </a></label>
            </section>
        </fieldset>
        <footer>
            <button type="submit" class="btn btn-primary">
                Register
            </button>
        </footer>

        {% if messages %}
            <div class="message">
                {% for message in messages %}
                    <i class="fa fa-check"></i>
                    <p>
                        {{ message }}
                    </p>
                {% endfor %}
            </div>
        {% endif %}
    </form>

{% endblock %}