<form method="post" action="{% url model.action %}">

{% csrf_token %}
{{ form.non_field_errors }}

{% for field in model.form %}
    {% if field.errors %}
        <div class="form-group has-error">
            <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
            <div>
                {{ field }}
                <span class="help-block">
                    {% for error in  field.errors %}{{ error }}{% endfor %}
                </span>
            </div>
        </div>
    {% else %}
        <div class="form-group">
            {% if not field.is_hidden %}
                <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
            {% endif %}
            <div>
                {{ field }}
                {% if field.help_text %}
                    <p class="help-block">
                        <small><em>{{ field.help_text }}</em></small>
                    </p>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endfor %}

<div class="form-group">
    <button type="submit" id="save_button">Save</button>
    <button type="reset" id="cancel_button">Cancel</button>
</div>

</form>

