{% extends 'layout.html' %}

{% load humanize %}
{% load staticfiles %}

{% block breadcrumb %}
    <li>News Feed</li>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
            {% include 'user/create_status.html' %}
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">

            <div class="well well-sm">
                <!-- Timeline Content -->
                <div class="smart-timeline">
                    <ul class="smart-timeline-list">

                        {% for post in posts %}

                            <li>
                                <div class="smart-timeline-icon">
                                    <img src="{% static post.author.photo.url %}" width="32" height="32"
                                         alt="user"/>
                                </div>
                                <div class="smart-timeline-time">
                                    <small>{{ post.date | naturaltime }}</small>
                                </div>
                                <div class="smart-timeline-content">
                                    <p>
                                        <a href="{% url 'user_profile' post.author.id %}">
                                            <strong>{{ post.author.first_name }} {{ post.author.last_name }}</strong>
                                        </a>
                                    </p>
                                    <p>
                                        {{ post.details | linebreaksbr }}
                                    </p>

                                    {% if post.attachment_set %}
                                        <div class="post-attachments">
                                            {% for attachment in post.attachment_set.all %}
                                                {% if attachment.content_type == 'image/png' %}
                                                    <div class="image-holder">
                                                        <img src="{% static attachment.file.url %}"
                                                             width="150"
                                                             data-src="{% static attachment.file.url %}"
                                                             data-toggle="modal" data-target="#image-preview"
                                                             class="img-responsive image-preview">
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}

                                    {% if post.comment_set.all.count > 0 %}
                                        <div class="bg-color-gray">
                                            {% for comment in post.comment_set.all %}
                                                <div class="row">
                                                    <div class="col-xs-1">
                                                        <img src="{% static comment.author.photo.url %}"
                                                             width="32"
                                                             height="32" alt="user"/>
                                                    </div>
                                                    <div class="col-xs-11">
                                                        <p>
                                                        <span class="pull-right">
                                                            {{ comment.date | naturaltime }}
                                                        </span>
                                                            <a href="{% url 'user_profile' comment.author.id %}">
                                                                <strong>{{ comment.author.first_name }} {{ comment.author.last_name }}</strong>
                                                            </a>
                                                            <br/>
                                                            {{ comment.comment | linebreaksbr }}
                                                        </p>
                                                    </div>
                                                </div>
                                                <br/>
                                            {% endfor %}
                                        </div>
                                    {% endif %}


                                    <form method="post" action="{% url 'create_comment' %}">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="hidden" name="post_id" value="{{ post.id }}">

                                            <div class="row">
                                                <div class="col-xs-1">
                                                    <img src="{% static request.user.photo.url %}" width="32"
                                                         height="32" alt="user"/>
                                                </div>
                                                <div class="col-xs-9">
                                                        <textarea class="form-control comment"
                                                                  name="comment"></textarea>
                                                </div>
                                                <div class="col-xs-2 text-right">
                                                    <button type="submit" class="btn btn-default btn-sm round">Comment
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </li>

                        {% endfor %}

                        <li class="text-center">
                            <a href="javascript:void(0)" class="btn btn-sm btn-default"><i
                                    class="fa fa-arrow-down text-muted"></i> LOAD MORE</a>
                        </li>
                    </ul>
                </div>
                <!-- END Timeline Content -->

            </div>

        </div>
    </div>
{% endblock %}


{% block scripts %}

    <!-- PAGE RELATED PLUGIN(S) -->
    <script src="{% static 'js/plugin/superbox/superbox.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('.superbox').SuperBox();
        });

        $(".image-preview").on('click', function (event) {
            var src = $(this).data('src');
            $(".backdrop .lightbox").html("<img src='" + src + "' class='img-responsive' />");
            $(".backdrop").show();
        });

        $(".backdrop").click(function () {
            $(this).hide();
        });

    </script>


{% endblock %}

